doctype html
html
  head
    title
      | YoutubeをMP4とMP3に変換するよ
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(http-equiv="content-language" content="ja")
    meta(charset="utf-8")
    meta(name="description" content="Youtubeをmp4とmp3でダウンロードできます")
    meta(name="robots" content="noindex,nofollow")
    meta(property="og:image" content="/images/river.jpg")
  body
    block content
